<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/css/notfound.css
    "
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Monoton&family=Train+One&display=swap"
      rel="stylesheet"
    />
    <title>Puzzle Up | Not Found</title>
  </head>
  <body>
    <div class="notfound">
      <div class="wrapper">
        <h1>
          Opps<span style="color: red"> 404 </span>error that page was not found
          on this domain
        </h1>
        <a href="/" class="btn">Return to Game</a>
      </div>
    </div>
  </body>
</html>
