@import "animations.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-image: url(https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif); */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.698),
      rgba(0, 0, 0, 0.65)
    ),
    url(https://media1.giphy.com/media/H7lptYSho9ZNoFENky/giphy.gif?cid=ecf05e47olcq034m6z9xgqn9txxzck6xuv98mafav52snlch&rid=giphy.gif);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  font-family: "Train One", cursive;
  overflow-x: hidden;
  color: #ccc;
}

.game-board {
  width: 70%;
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  padding: 5rem;
}

.card {
  cursor: pointer;
  flex: 0 0 13%;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 12rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  overflow: hidden;
  min-width: 10rem;
  transition: transform 1s;
  margin: 1rem;
}
.card:focus {
  outline: none;
}

.card--front,
.card--back {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 2rem;
  height: 100%;
  overflow: hidden;
  transition: all 0.8s ease;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  box-shadow: 0 2px 2px #000;
}

.card--back {
  transform: rotateY(180deg);
}
.item-front {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.item-back {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  padding: 1rem;
}
.card--front_active {
  transform: rotateY(-180deg);
  background: rgb(200, 200, 200);
}

.card--back_active {
  transform: rotateY(0);
  background: rgb(200, 200, 200);
}
.center,
.scorecard {
  width: 55%;
  margin: 0 auto 0;
}

.center {
  margin-top: 1rem;
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
}
.countdown {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -7rem;
  display: flex;
  width: 55%;
  margin: 1rem auto 0;
  text-align: center;
}
.countdown__text {
  font-size: 5rem;
  opacity: 1;
  display: block;
  width: 100%;
  text-align: center;
}
.settings {
  position: relative;
  margin-right: auto;
  margin-bottom: 0.5rem;
  transform: translateX(-5rem);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.settings > h1 {
  flex: 1 0 100%;
}

.btn--reset {
  display: inline-block;
  margin-right: auto;
  height: 10rem;
  width: 10rem;
  font-size: 2rem;
  color: #fff;
  background: #ee0979; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f6812dcc,
    #c20661d3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 100%;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 5px rgb(85, 85, 85);
  transition: all 0.2s;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: sans-serif;
  z-index: 999;
}

.btn--reset:hover {
  background: linear-gradient(
    to right,
    rgba(194, 6, 97, 0.883),
    #f6812de8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn--reset:focus {
  outline: none;
}
.btn--reset:active {
  transform: translateY(2px);
  box-shadow: 0 5px 5px rgb(15, 15, 15);
}
.scorecard {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 2rem;
  color: #ccc;
}
.score {
  text-shadow: 0 2px 2px #000;
  letter-spacing: 2px;
}
.title {
  display: flex;
  letter-spacing: 2px;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-size: 7rem;
  justify-content: center;
  text-shadow: 0 2px 2px #000;
}

.title::before,
.title::after {
  content: "";
  display: flex;
  height: 1px;
  background-color: currentColor;
  width: 20%;
  box-shadow: 0 3px 3px #ccc;
}
.wrapper {
  text-align: center;
  width: 100%;
}
.btn--easy,
.btn--hard,
.btn--expert {
  /* transform: translateX(4.2rem); */
  border: none;
  padding: 1rem 2.5rem;
  font-size: 2rem;
  margin: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 2px;
  transition: background-color 0.2s;
}

.btn--easy:focus,
.btn--hard:focus,
.btn--expert:focus {
  outline: none;
}
.btn--easy:active,
.btn--hard:active,
.btn--expert:active {
  opacity: 0.8;
  transform: translateY(2px);
}

.btn--easy {
  background-color: #1173f3;
  box-shadow: 0 3px 3px #6da8f5;
  color: #ccc;
}
.btn--hard {
  background-color: #dd2c00;
  box-shadow: 0 3px 3px #d67a63;
  color: #ccc;
}
.btn--expert {
  background-color: #1de9b6;
  box-shadow: 0 3px 3px #7be0c7;
  color: black;
}

.btn--easy:hover {
  background-color: #0c52ad;
}
.btn--hard:hover {
  background-color: #a52303;
}
.btn--expert:hover {
  background-color: #0a8d6c;
}

.settings__mode {
  font-size: 4rem;
}

.lifelines {
  width: 4rem;
  height: 4rem;
}

.centered {
  margin-top: 7rem;
  text-align: center;
  margin-top: -0.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.centered > * {
  text-align: center;
  color: #ccc;
}
.fa-volume-mute,
.fa-volume-up {
  position: absolute;
  top: 0;
  right: -10rem;
  color: #fff;
  height: 3rem;
  width: 3rem;
  font-size: 5rem;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.scale {
  transform: scale(1.1);
}

.last_notice {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translateY(0);
}
.fadeUp {
  -webkit-animation: fadeUp 3s linear;
  animation: fadeUp 3s linear;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.fadeUpShow {
  -webkit-animation: fadeUpShow 0.5s linear;
  animation: fadeUpShow 0.5s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.fadeOut {
  -webkit-animation: fadeOut 2s linear;
  animation: fadeOut 2s linear;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.game_notice--won,
.last_notice,
.accuracy {
  display: inline-block;
  background: #56ccf2; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.game_notice-box {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.game_notice--won {
  text-align: center;
  font-size: 10rem;
  -webkit-animation: pulsate-won 3s infinite;
  animation: pulsate-won 3s infinite;
}
.game_notice--lost {
  display: inline-block;
  font-size: 10rem;
  -webkit-animation: pulsate-lost 3s infinite;
  animation: pulsate-lost 3s infinite;
  background: #cb356b; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #bd3f32,
    #cb356b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.footer {
  font-size: 1.2rem;
  font-family: sans-serif;
  margin-top: 1rem;
  font-weight: 300;
  font-style: italic;
  color: #b3afaf;
}

.accuracy {
  font-size: 3rem;
  font-weight: 800;
  width: 100%;
}

button {
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 100em) {
  .game-board {
    width: 50%;
  }
  .card {
    flex: 0 0 14%;
    height: 11.5rem;
  }
}

@media only screen and (max-width: 75em) {
  .center {
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .settings {
    transform: translateX(0.5rem);
    margin: 0 auto;
    justify-content: center;
  }
  .game-board {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
  }
  .card {
    flex: 0 0 17%;
    margin: 0.6rem;
  }

  .btn--reset {
    position: absolute;
    top: 0;
    left: 40%;
    transform: translateX(0);
  }

  .settings {
    margin-right: 0;
    margin: 15rem auto 0;
  }
}

@media only screen and (max-width: 50em) {
  .scorecard {
    width: 90%;
  }
  .fa-volume-mute,
  .fa-volume-up {
    top: 7rem;
    right: 2rem;
  }
  .game-board {
    width: 95%;
    margin: 1rem;
    padding: 5rem 0;
  }
  .card {
    flex: 0 0 16%;
    min-width: unset;
    border-radius: 0;
    height: 7.5rem;
  }
  .card--front {
    border-radius: 1rem;
  }
  .card--back {
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .scorecard {
    flex-direction: column;
    align-items: flex-start;
  }
  .lives {
    align-self: flex-end;
  }
  .lifelines {
    width: 2.6rem;
    height: 2.6rem;
  }
  .update {
    order: 1;
    font-size: 1rem;
  }
  .fa-volume-mute,
  .fa-volume-up {
    top: 4rem;
    right: 1rem;
    font-size: 4rem;
  }

  .game-board {
    width: 95%;
    /* margin: 1rem; */
    padding: 5rem 0;
  }
  .card {
    flex: 0 0 18%;
    min-width: 4rem;
    border-radius: 0;
    height: 5.8rem;
  }
  .card--front {
    border-radius: 1rem;
  }
  .card--back {
    border-radius: 1rem;
  }
  .center {
    position: relative;
  }
  .btn--reset {
    position: absolute;
    top: 0;
    left: 37.5%;
    transform: translateX(0);
  }

  .title {
    display: flex;
    letter-spacing: 2px;
    align-items: center;
    gap: 0;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
    text-shadow: 0 2px 2px #000;
  }
  .accuracy {
    font-size: 2rem;
  }
}
